#blogContentp  , #blogContent > h3  , #blogContent > h2 {
    padding: 10px;
}

#blogContent img {
	max-width: 100%;
	height: auto;
}

#blogContent ul , .entradasPorMes{
	list-style-position: inside;
}

#blogContent > p {
    padding: 10px 0;
}

ul.entradasPorMes li {
    padding: 5px 0;
}

.entradasPorMes a{
	color: #666666;

}

#blogContent ul li {
    padding: 10px;
}

.nav-links {
    text-align: center;
 
}

.nav-links a{
	 color: #666;
}
  

p.fechaBlog {
    padding-top: 26px;
    color: #909090;
    text-align: center;
    font-size: 12px;
}

p.author_name {
    padding-top: 12px;
}


#blogContent > h3:after , .recipe h3:after ,h2.recTit:after , #blogContent > h2:after {
    content: "";
    background: #fff200;
    position: relative;
    bottom: -10px;
    margin:10px auto 20px auto;
    display: block;
    height: 5px;
    width: 120px;
}

#blog_header{
    height: 300px;
    background-size: cover;
    background-position: center;
    position: relative;
/*    display: flex;
    align-items: flex-end;
    justify-content: center;*/
}
#blog_header .tituloRes{
    font-size: 25px;
    text-align: center;
    position: absolute;
    bottom: 10%;
    width: 100%;
}
#blog_header .ornament{
    position: absolute;
    top: 20px;
    left: 10%;
}
.breadcrumbs{
    font-weight: bold;
    font-size: 12px;
}
.breadcrumbs > span:last-child > span{
    color: #ff3333;
}

.comment-notes{
    color: #CCC;
    font-size: 0.88em;
}

.select-cont{
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 10px 0;
}
.select-cont select{
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
}
.select-cont:after{
    content: '\2304';
    position: absolute;
    top: 0;
    height: 100%;
    background: #ff3333;
    color: white;
    font-size: 40px;
    right: 0;
    width: 71px;
    text-align: center;
    pointer-events: none;
    line-height: 46px;
}
#form-hablenos .select-cont select{
    margin: 0;
    background: transparent;
    padding-right: 90px;
}

#menuLateral input[type="submit"]{
      width: auto;
}

input[type="submit"]{
    width: 100%;
    border: none;
    background: red;
    color: white;
    padding: 20px;
    font-weight: bold;
}

textarea{
    resize: vertical;
}
.comment-form input,
.comment-form select,
.comment-form textarea,
#form-hablenos .wrapper-dropdown{
    color: #666666;
}

 
.comment-form input,
.comment-form select,
.comment-form textarea{
    border: 1px solid #cccccc;
    padding: 19px 15px;
    background: white;
}

textarea{
    height: 100px;
}
::-webkit-input-placeholder {
   color: #CCC;
}

:-moz-placeholder { /* Firefox 18- */
   color: #CCC;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #CCC;  
}

:-ms-input-placeholder {  
   color: #CCC;  
}

.comment-form label{
    display: block;
    color: #999;
    font-size: 0.88em;
}
.bbusqueda_cont{
    position: relative;
}
.bbusqueda_cont:before{
    content: "\f002";
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    font-size: 20px;
    line-height: 62px;
    left: 15px;
    color: #444;
}
.bbusqueda{
    border: none;
    padding: 20px 15px 20px 45px;
    background: #EEE;
    display: inline-block;
    width: calc( 100% - 108px);
    margin-left: 13px;
}
.blog_single #menuLateral{
    padding-top: 27px;  
}
.blog_single .social{
    padding: 30px 0;
}
.comment-form input,
.comment-form textarea{
    width: calc(100% - 32px);
}
.comment-form input[type="submit"]{
    width: 100%;
    background: #ff3333;
    color: #FFF;
    margin-top: 10px;
    border: none;
}

#reply-title {
    color: #555;
   /* border-top: 1px solid #CCC; */
    margin-top: 50px;
    padding: 10px 0;
}
#reply-title:after {
    display: none;
}

.comment-list{
    list-style: none;
}
#blogContent .comment-list > li{
    padding: 10px 0;
}
.comment-author > img{
    float: left;
    display: inline-block;
    margin-right: 30px;
    border-radius: 28px;
}
.comment-author > cite{
    color: red;
    padding-top: 6px;
    display: inline-block;
    font-style: normal;
}
.commet-author{
    color: #ff3333;
    font-style: normal;
    padding-top: 5px;
    display: inline-block;
}
.commentmetadata{
    color: #aaa;
    font-size: 13px;
}
.commentmetadata a,
.commentmetadata a:visited{
    color: #aaa;
}
.comment-body > p{
    clear: both;
    padding: 20px 0;
    color: #666;
}
.comment-list > li{
    margin: 20px 0;
    padding: 10px 0;
    border-top: 1px solid #CCC;
}
.comment-list .reply{
    text-align: right;
}
.comment-list .reply a{
    color: #FFFFFF;
    background: #ff3333;
    padding: 10px 30px;
    display: inline-block;
}
.comment-list .children{
    margin-left: 30px;
    background: #efefef;
    list-style: none;
}
.comment-list .children > li{
    border-bottom: 1px solid #DDD;
    margin: 10px 0;
    padding: 10px;
}

@media only screen and (max-width: 767px) {
    .blog_single .breadcrumbs{
        display: none !important;
    }
    .blog_single .numFab,
    .blog_single .wpurp-recipe-favorite i.fa{
        width: calc(100% - 75px);
        margin: 0 auto 10px;
    }
    .blog_single .numFab .num{
        /*width: calc(100% - 70px);*/
        display: inline-block;
        text-align: center;
    }
    #blogContent {
        padding-right: 0 !important;
    }
    .blog_single .mix{
        padding: 0 !important;
    }
    .blog_single{
        padding: 4%;
    }
}