/*
Theme Name: Maggi
Author: Lionbridge
Description: Maggi Website Theme.
Version: 1.50
License: GNU General Public License v2 or later
*/

@import url("css/blog.css?v=1");

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

/*@font-face {
    font-family: 'roboto';
    src: url('fonts/roboto-bold-webfont.eot');
    src: url('fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('fonts/roboto-bold-webfont.woff') format('woff'),
         url('fonts/roboto-bold-webfont.ttf') format('truetype'),
         url('fonts/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: bold;
    font-style: bold;

}




@font-face {
    font-family: 'roboto';
    src: url('fonts/roboto-medium-webfont.eot');
    src: url('fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('fonts/roboto-medium-webfont.woff') format('woff'),
         url('fonts/roboto-medium-webfont.ttf') format('truetype'),
         url('fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}*/

@media print {
 
    #comentarios , .social, .header-main , .blog_header , #menuLateral , .intruccionesQCH , .footer ,  header , div#blog_header{
        display: none !important;
    }

   
}


body{
    overflow-x: hidden;
      counter-reset: item;
}

*{
    padding:0;
    margin:0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.st1{
    fill:white;
}

.header-main.wrap {
    display: inline-block;
    width: 100%;
    position: relative;
}

li.wpurp-recipe-instruction{
    overflow: hidden;

}

#comments, #pregunta {
    padding: 12px;
}

.nprod {
        position: relative !important;
        top: -34px !important;
        width: 80px !important;
        left: -41px !important;
        /* display: block; */
        /* padding: 0; */
}

.revisaMensaje{
    text-align: center;
}

 .wpurp-recipe-instructions li {
   list-style: none !important;
   counter-increment: item;
   margin-bottom: 5px;
 }
 .wpurp-recipe-instructions li:before {
    margin-right: 10px;
    content: counter(item);
    background: #cccccc;
    color: white;
    padding: 10px;
    font-size: 22px;
    width: 4%;
    text-align: center;
    display: inline-block;
    float: left;
}

p.t {
    font-size: 21px;
    padding-left: 10px;
    font-weight: bold;
}

li.wpurp-recipe-instruction {
    float: left;}

li.wpurp-recipe-instruction span {
    padding-left: 0px;
    float: left;
    width: 89%;
}

#busquedaAvanzada .wrapper-dropdown {
    width: calc(100% - 75px) !important;
    float: left;  
}


.corazon{
    float: left;
    padding: 10px;
    width:20px;
    height:20px;
}

span.wpurp-recipe-ingredient-notes.recipe-ingredient-notes {
    color: #999;
    font-size: 14px;
    padding: 4px;
}

.wpurp-recipe-instruction img{
    padding-top:10px; 

}
.wpurp-recipe-instruction{
    border-bottom: none;
    color:#666666;
}

.resOct img{
    width: 100%;
}

.arrow {
    width: 10px;
    height: 10px;
    border-top: 4px solid #333333;
    border-right: 4px solid #333333;
     transition:all 0.3s ease-in-out;
    -webkit-transition::all 0.3s ease-in-out;
    -o-transition::all 0.3s ease-in-out;
    -ms-transition::all 0.3s ease-in-out;
    -moz-transition::all 0.3s ease-in-out;
    
    
}

#busquedaAvanzada , #busquedaAvanzada div , #comentarios , #preguntas{
    transition:all 0.6s ;
    -webkit-transition::all 0.6s ;
    -o-transition::all 0.6s ;
    -ms-transition::all 0.6s ;
    -moz-transition::all 0.6s ;
}

#busquedaAvanzada div{
     opacity:0;
}

.busqueda.abierto{
    display: block;
}
#busquedaAvanzada.abierto div{
    opacity:1;

}

#busquedaAvanzada.abierto , #comentarios.abierto, #preguntas.abierto{
    max-height: 2600px;
    overflow: visible;
    padding-bottom: 22px;

}

span.sep {
    padding: 0 7px;
}

.right {
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476)";
}

span.sep:nth-child(10) , .date-day{
    display: none;
}

.down {
    -moz-transform:rotate(135deg);
    -webkit-transform:rotate(135deg);
    -o-transform:rotate(135deg);
    -ms-transform:rotate(135deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=-0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=-0.7071067811865476)";
}

.left {
    -moz-transform:rotate(225deg);
    -webkit-transform:rotate(225deg);
    -o-transform:rotate(225deg);
    -ms-transform:rotate(225deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=-0.7071067811865476, M12=0.7071067811865475, M21=-0.7071067811865475, M22=-0.7071067811865476)";
}

.up {
    -moz-transform:rotate(315deg);
    -webkit-transform:rotate(315deg);
    -o-transform:rotate(315deg);
    -ms-transform:rotate(315deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=0.7071067811865475, M21=-0.7071067811865475, M22=0.7071067811865476)";
}

.blog-a .views_info {
    padding-left: 15px;
}


#banner .owl-controls{
    color:white;
}
/* menu cerrado en search */



    .menuCerrado nav {
        background: white;
        height: 100%;
        padding-left: 3vw;
        padding-right: 3vw;
        width: 94vw;
        position: fixed;
        top: 0;
        left: -130vw;
        -moz-transition: all 0.2s linear 0s;
        -webkit-transition: all 0.2s linear 0s;
        -ms-transition: all 0.2s linear 0s;
        transition: all 0.2s linear 0s;
        padding-top: 30px;
    }

    li.wpurp-recipe-instruction {
        float: left;
        width: 100%;
        /* padding-bottom: 10px; */
    }

    .olvideContra #login h1:first-child{
        display: none;

    }

    .ui-widget-content , .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{
            font-family: 'Roboto', sans-serif;
            letter-spacing: normal;
            outline: none;
            text-decoration: none;
    }

   div#login {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;;
}

       .menuCerrado .responsive-nav-icon, .menuCerrado  .responsive-nav-close {
            display: block !important;
            position: absolute!important;
            z-index: 1 !important;
        }
        .menuCerrado .responsive-nav-icon{
            top:76px !important;
        }



        .menuCerrado .menu-secundario-container{
            float: right;
         
        }

        .wp-pwd #pass-strength-result{
               display: none; 
        }
    
    .porciones{
         float: left;
         color:white;
    }

    #hablanos svg {
        width: 20px;
        vertical-align: middle;
    }

    #hablanos:hover{
        color:white;
    }

      #hablanos svg .st0{
        fill:white;
      } 



    span.play , span.playThumb{
        position: absolute;
        top: 0;
        text-align: center;
        left: 0;
        /* display: block; */
        width: 100%;
        padding-top: 16%;
    }
 span.play{
     padding-top: 16%;
 }



div.wpcf7-mail-sent-ok{
    border: 2px solid #398f14;
    margin-top: 50px !important;
}
div.wpcf7 img.ajax-loader {
    margin-top: 10px;
}

h2.recTit {
    padding: 6px !important;
    margin: 0;
    font-size: 19px;
    text-align: center;
}

.recetasSugeridas {
    padding-top: 40px;
}

span.playThumb{
     padding-top: 36%;  
}

    .postVideo{
          display: inline-block;
    }

    .play svg {
        width: 7%;
    }

    .playThumb svg{
         width: 35%;
    }

    .play svg .st0 , .playThumb svg .st0 {
        fill:white;
         opacity: 0.8;

    }

    .postVideo:hover svg .st0{

         fill:white;
        opacity: 1;
    }



    .porciones img, .porciones p {
        float: left;
        padding: 2px;
    }

    .porciones .yell{
        color:#fff200;
    }

    .porciones img {
        width: 25px;
        margin-right: 20px;
       
    }
      
     span.porciones {
            position: absolute !important;
            bottom: 25px;
            left: 80px;
        } 

     .menuCerrado nav.slide-in {
        left: 0;
        overflow-y: scroll;
        z-index: 100;
    }
    
     .menuCerrado nav .menu-item {
        display: block;
    }
    .menuCerrado #primary-menu {
        width: 100% !important;
    }

    .menuCerrado #primary-menu li {
        float: left;
        width: 100%;
        border-bottom: 2px solid white;
        height: 49px;
        padding-top: 17px;
       
    }

    #recetasGrid a:not(.first-visible) .marco{
        float: left;
        width:40%;

    }

    #lostpasswordform p {
        padding-top: 20px;
    }

    input#pass1 , input#pass1-text ,input#passtemp{
        width: 100%;
        margin: 20px 0;
        box-sizing: border-box;
    }

    input#wp-submit {
        width: 100%;
        float: left;
    }
 
    .ingredientes ul.wpurp-recipe-ingredients {
        margin-left: 24px;
    }

    .ingredientes span.wpurp-recipe-ingredient-name.recipe-ingredient-name {
        padding-left: 11px;
    }


    a.producto p {
        /* float: left; */
        width: 100%;
        display: inline-block;
        bottom: 0;
        left: 0;
        position: absolute;
        padding: 20px;
        box-sizing: border-box;
        color: #333333;
        font-size: 13px;
    }

    .postVideo {
        position: relative;
    }


    .resOct {
        padding: 10px;
        box-sizing: border-box;
    }

    a.producto:hover p {
        background-color: #ff3333;
        color:white;
    }

    #recetasGrid .grid-item .marco img{
          -webkit-backface-visibility: hidden;
          transition: all .2s ease-out;
          float: left;

    }

    .marco{
        position:relative !important;
          z-index: 1 !important;
    }
    .marco img{
          z-index: 0;
    }

    #recetasGrid .grid-item:hover .marco{
        box-shadow:0px 0px 11px 0px rgba(0,0,0,0.2) ;

    }

    #recetasGrid .grid-item:hover .marco img{   
             transform: scale(1.01); 
             
           
    }




 

/* ------*/

body , .pure-g , .pure-g [class *="pure-u"]{
     font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

#Container{
    display: inline-block;
    width: 100%;

    
}
.recipe > .banner >.hid > img{
    width: 100%;
    float: left;
}

#Container .mix{
    display: none;

}

#main , .registrate{
    margin: 0 auto;
}


.active{
    color:green;
}

.cat_link{
   pointer-events: none;
   cursor: default;
}

.pure-g.gutters{
  margin: 0 -0.5em;
}
.pure-g.gutters > [class *=pure-u]{
  box-sizing: border-box;
  padding: 0em 0.5em;
}

#categorias a p , #categoriasSide a p {
    padding-top: 10px;
}

.contenidoPromo {
    padding: 8px 0px 0px 31px;
    box-sizing: border-box;
}
.contenidoPromo p {
   
    color:#666666;
}

.contenidoPromo p , .pure-u-1-1.pure-u-md-8-24.contenidoPromo h6 , .pure-u-1-1.pure-u-md-8-24.contenidoPromo h1 , .pure-u-1-1.pure-u-md-8-24.contenidoPromo h2 , .pure-u-1-1.pure-u-md-8-24.contenidoPromo h3{
     padding-bottom: 11px;
}



.busqueda {
    width: calc(100% - 390px);
    float: right;
    display: none;

}

.screen-reader-text {
     display: none;
}

.menuCerrado .busqueda {
    display: block;
}

.busqueda{
       margin-top: 20px;
}
.busqueda  input[type="text"] {
    width: calc(100% - 20%);
    height: 36px;
    background:#f4f4f4;
    border: 1px solid #f4f4f4;
    padding-left: 20px;
    position:relative;
    z-index: 1;
}
.busqueda input[type=submit]{
    height:36px;
}

.contenidoPromo  a.btnurlpromo {
    background-color: #ff3333;
    text-align: center;
    width: 100%;
    padding: 21px 0;
    color: white;
    display: inline-block;
    margin: 0 auto;
    font-weight: bold;
}

span.dialogo {
    width: 320px;
    position: absolute;
    bottom:0;
    right: 10px;
    height: 1px;
}


.dialogo .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front {
    position: absolute;
    right: -11px !important;
    top:0 !important;
    left: auto !important;
    width:100% !important;
    border: none;
}

.dialogo .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-dialog-titlebar-close.ui-state-focus { 

    border: 1px solid #cbc7bd;
    background: transparent;

    font-weight: bold;
    color: #654b24;
}

.dialogo .ui-button.ui-widget.ui-state-default.ui-state-default .ui-icon {
    background: #fff url(/wp-content/plugins/zm-ajax-login-register/assets/images/ui-icons_b83400_256x240.png) no-repeat;
    background-position: -96px -128px;
 }

.menu-secundario-container .buscar_icon {
    font-size: 24px;
    float: right;
    cursor: pointer;
    color: #333333;
}

.buscar_icon a {
    display: none;
}   

a.page-numbers {
    color: #999;
}

.divigation{
    margin-top:30px;
    padding: 20px;
    float: left;
    width: 100%;
}

a.reglamento {
    color: #f93b46;
    text-align: center;
    width: 100%;
    display: inline-block;
    padding: 20px 0;
    text-decoration: underline;
}

.subpromo {
    padding-top: 40px;
}


.banner{
    position: relative;
}
#banner span{
    position: relative;
    display: inline-block;
}

#banner .pure-g{
    width: 100%;
    vertical-align:top;


}

#banner img.ornament , .banner img.ornament{
    position: absolute;
    top: 45px;
    left: 45px;
}

div#banner .termName  , .banner .termName {
    position: absolute;
    bottom: 86px;
    left: 80px;
    color: #fff200;
    font-size: 20px;
}

div#banner .tituloRes, .banner .tituloRes {
    position: absolute;
    bottom: 61px;
    left: 80px;
    font-size: 17px;
}

#banner .owl-item .imgbanner , .home #banner .owl-item .owl-lazy{
    display: block;
    margin: 0 auto;
  width:100%;
  max-width: 100%;
    max-height: 100%;
}


.preparacion {
    width: 100%;
    float: left;
}

#categorias a  , #categoriasSide a {
    height: 67px;
    margin: 10px;
    padding: 23px 11px;
    display: block;
    vertical-align: top;
    border: 1px solid #ccc;
    text-align: center;
    font-size:13px;
    font-weight: bold;
    color:#333333;
    text-decoration: none;
    
}

div#busquedaAvanzada ,div#comentarios  , div#preguntas{
    max-height: 0px;
    overflow: hidden;
    
    
}
a.comentariosLabel {
    border-top: 1px solid #ccc;
    color: #666666;
}

 a.preguntasLabel{
    color: #666666;
 }


.busquedaAvanzadaLabel , .comentariosLabel , .preguntasLabel {
    width: 100%;
    display: inline-block;
    color: #ff3333;
    padding: 20px;
    box-sizing: border-box;
}

.dd-select{
    width: auto !important;
}
.busquedaAvanzadaLabel p, .comentariosLabel p , .preguntasLabel p{
    float: right;
}
.number {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    color: #e5e5e5;
    font-style: italic;
    position: relative;
}

p.in {
    position: absolute;
    top: 0;
    color: #333333;
    font-size: 15px;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    padding-top: 30px;
    border-bottom: 2px solid #ff3333;
    font-style: initial;
    padding-bottom: 1px;
}

p.in.bu{
        margin-left: 15%;
        width: 70%;
} 
.banner .hid{
   position:relative; 
} 

.cat_link img{
    width:20px;
}
.cat_icon{
    height: 25px;
}
.banrep{
    width:100%;
    position: relative;
    
}

a:not(.first-visible) .views_info {
    display: none;
}
.blog-a .views_info {
    display: block !important;
    position: relative;

    bottom: 70px;
}

.views_info{
    color:white;
    padding-top: 26px;
}

.dd-selected {
    height: 26px;
    margin-top: 14px;
    padding: 13px 0 0 5px !important;
}

.dd-selected .dd-selected-image, .dd-options .dd-option-image { height: 17px; }

.dd-selected:after {
    content: "";
    display: inline-block;
    background: url("images/icons/arrow.svg") no-repeat;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 15px;
    right: -9px;
}

#user_login , #user_pass{
    width: 100%;
    margin: 20px 0;
    box-sizing: border-box;
    padding: 10px;

}

#nav a{
    color: #ccc;
}

h3.resTit {
    padding: 20px 20px 20px 0px;
    font-size: 30px;
    color: #ff3333;
}

.nestle {
    width: 72px;
    display: block;
    padding: 20px;
    margin: 20px auto;
}

.hidden{
    display:none;
}
span.filter {
    width: 96%;
    display: inline-block;
    font-size: 18px;
    color: #666666;
    padding-bottom: 18px;
    margin: 7px 2%;
    border-bottom: 1px solid #666;
     cursor: pointer;
}
 
span.filter:hover {
    color:#ff3333;
}

span.filter.active {
    color: #ff3333;
}




.boletin{
    padding: 50px;
    max-width: 450px;
    margin: 0 auto;
}

.boletin form{
    position: relative;
}

/*.boletin .wrapper-dropdown{
    position: relative;
    box-sizing: border-box;
    font-size: 15px;
    float: left;
}

.boletin  div.wpcf7-validation-errors {
    margin-top: 60px !important;
    font-size: 0.9em;
}

.boletin  .wpcf7-form-control-wrap{
    position: absolute;
    left: 0;
    top: 0;
}
.boletin input[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
}*/

/*.boletin input[type=submit]{
       background-image: url("images/icons/flecha-der.svg");
    background-repeat: no-repeat;
    border: none;
    text-indent: -9999px;
    height: 45px;   
    background-size: 30px 30px;
    width: 50px;
    background-position: center;
    background-color: #ff3333;
}*/

span.wpcf7-not-valid-tip {
    position: absolute;
    width: 100%;
    top: 70px;
    font-size: 0.9em !important;
}

/* Boletin Andres */
#wpcf7-f164-o1 br { display: none; }
#wpcf7-f164-o1 .wpcf7-submit { display: block; width: 100%; height: 54px; line-height: 54px; padding: 0; background: #e8001b; color: #fff; outline: none; margin-top: 30px; }
#wpcf7-f164-o1 .wpcf7-form-control-wrap { display: block; }
#wpcf7-f164-o1 .wpcf7-form-control-wrap input { width: 100%; box-sizing: border-box; border-radius: 5px; height: 48px; padding: 0 5%; font-size: 14px; margin-bottom: 10px; font-size: 16px; color: #505050; border: 2px solid #cccccc; }
.boletin div.wpcf7-validation-errors { margin: 20px 0 0px 0 !important; font-size: 18px; background: #e8001b; border: none; padding: 15px; color: #fff; line-height: 22px; }
.boletin div.wpcf7-mail-sent-ok { margin: 20px 0 0px 0 !important; font-size: 18px; background: #009148; border: none; padding: 20px 60px; color: #fff; line-height: 22px; }
.boletin label { text-align: left; display: block; line-height: 40px; }
.boletin select { box-sizing: border-box; border-radius: 5px; height: 48px; padding: 0 5%; font-size: 14px; margin-bottom: 10px; font-size: 16px; color: #505050; border: 2px solid #cccccc; background: transparent; width: 100%; outline: none; -webkit-border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
.boletin select:focus { outline: none; }

/* End Andres  */

.producto{
    width:160px;
    height: 220px;
    margin:10px;
    display: inline-block;
    border: 1px solid #ccc;
    text-align: center;
}

a.producto {
    margin: 30px auto;
    /* text-align: center; */
    position: relative;
    display: block;
}

#prodImage{
    position: relative;
    height: 440px;
    background: #fff200;
}
#prodImage img , .thumb img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.thumb {
    width: 120px;
    height: 120px;
    background: white;
    border: 1px solid #ccc;
    display: inline-block;
    position: relative;
    margin: 0 10px;
    top: -20px;
}

.infoNut {
     border-top: 1px solid #CCC; 
    border-bottom: 1px solid #CCC; 
    background: #f4f4f4;
    display: inline-block;
    width: 90%;
    padding: 5%;
}

.infoNut table {
    width: 100%;
  
 
}

.infoNut table tr{
    padding: 10px;
}

.infoNut table td:first-child {
    float: left;
    color: #ff3333;
}

.infoNut table td:first-child  td {
     float: right;
}

.infoNut table td{
    width: 50%;
}

.tablaProd tbody tr td:first-child {
    width: 50%;
}

p.notainfonut {
    font-size: 13px;
    padding: 25px 10px;
}

.owl-carousel .owl-item img {
    display: inline-block !important;
    vertical-align: middle;
}


#menuLateral #recetasGrid > a {
    width: 100%;
}

#menuLateral #recetasGrid a.first-visible:first-child > .marco {
    height: 320px;
} 

#menuLateral  .first-visible > span {
    bottom: 28%;
}

.homeCat {
    position: relative;
    width: 100%;
    display: block;
    max-height: 560px;
    overflow: hidden;
}

.homeCat div#options {
    position: absolute;
    bottom: 20%;
    width: 100%;
}

.homeCat #options > span {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 0 auto;
}

h2.termName {
    padding: 10px 0px;
}

.homeCat #options span a {
    width: 19%;
    height: 80px;
    display: inline-block;
    text-align: center;
}

.homeCat #options span a svg{
    width: 80%;
    vertical-align: middle;
    position: relative;
}

.homeCat #options span a svg:hover{
       width: 130%;   
       left: -15%;

}

h3.boletinTitle {
    font-size: 23px;
    padding: 30px;
}

h3.boletinTitle.ams_red {
    padding: 45px 0 30px 0;
    color: #ff3333;
    text-transform: uppercase;
    text-align: left;
}



#options h3.tit {
    color: #fff200;
    text-align: center;
    position: absolute;
    bottom: -50%;
    left: 0;
}

.homeCat #options span a svg:hover .st0  , .homeCat #options span a.sele .st0{
    fill:#fff200;
}
.wpurp-recipe-print-button  svg:hover .st0 , .blog_print svg:hover .st0{
     fill:#ff3333;
}

.homeCat > img{
    width:100%;
}

#menuLateral #recetasGrid .marco{
    height: auto !important;
}

#botonInicio{
    display: inline-block;
    width:280px;
    height: 60px;
    background-color: #ff3333;
}



.owl-controls {
   
    height: 0;
}

.owl-controls .owl-page, .owl-controls .owl-buttons div {
    cursor: pointer;
}

.owl-prev, .owl-next {
    position: absolute;
    top: 230px;
}

.owl-next {
    right: 65px;
}
.owl-prev, .owl-next {
    position: absolute;
    top: 230px;
}


.post-type-archive-recipe #categorias , .post-type-archive-recipe #categoriasSide{
    padding-top: 20px;
} 
#categorias , #categoriasSide{

    width: 100%;
}



#banner .hid p , #banner .hid .pure-g {
    display: none;
}
#subcategorias > div{
      -webkit-transition: max-height 1s; 
      -moz-transition: max-height 1s; 
      -ms-transition: max-height 1s; 
      -o-transition: max-height 1s; 
      transition: max-height 1s;  
      overflow: hidden;
      max-height: 0;
}

.info .Aut_info, .info > img{
    padding-top: 16px;

}

.info img{
    float:left;
    width: 42px;
}
 .registrate{
        max-width:961px;
        /*position:relative;
        top: -105px;*/
}


.ingredientes ul.wpurp-recipe-ingredients[style] {
    margin: 0 !important;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 920px;
    font-family: "Roboto", sans-serif;
    color:#666666;
}

#form-hablenos h3::before {
    content: url('images/icons/hablenos.svg');
    width: 20px;
    display: inline-block;
    vertical-align: sub;
    padding-right: 20px;
}

.zm_alr_label {
    color: #666666;
}

.dialogo .ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix{
    text-align: center;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.info .Aut_info {
    float: left;
    padding-left: 10px;
}

#subcategorias > .abierto{
    max-height: 300px;
}

.logo {
    display: inline-block;
    width: calc(100% - 80%);
    position: relative;
    z-index: 1;
}

.logo img {
    width: 120px;
    display: block;
    margin: 13px 14px 13px 44px;
}



.current-menu-item{
    font-family: "Roboto", sans-serif;
    font-weight: normal;
}

#primary-menu .current-menu-item a{
    color: #ff3333;
}



#primary-menu li:not(.current-menu-item) a:hover {
    color: #ff3333;
}

li.menu-item {
    padding: 6px;
   
  
}

.ui-dialog {
    position: absolute;
    right: 0;
}

/*
#primary-menu li.menu-item:not(.login) a:before{
      content: " ";
      
      background-repeat: no-repeat;
      margin: 0 13px;
      background-position: center; 
      width: 18px;
      height: 25px;
      position: relative;
      display: inline-block;
      vertical-align: top;
}
*/

span.close-search {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    display: inline-block;
    cursor: pointer;
    padding: 3px 10px;
    border-radius: 41px;
    position: relative;
    left: -40px;
    top: 0;
    color: #848484;
    z-index:1;
}

.menu-secundario-container {
    display: inline-block;
    vertical-align: top;
    position:relative;
}

ul#secundary-menu {
    list-style: none;
}


.views:before , .fabs:before ,.shares:before{
      content: " ";
     
      background-repeat: no-repeat;
      margin: 0 13px 0 0;
      background-position: center; 
    
      height: 25px;
      position: relative;
      display: inline-block;
      vertical-align: top;
}

.views_info > span {
    padding-right: 30px;
}

.pure-g.intruccionesQCH h2 {
    padding: 35px;
}




#busquedaAvanzada > div {
    padding-bottom: 10px;
}
/*
.ajax-login-register-login-dialog{
    background-image : url('images/loading.gif');
    background-repeat: no-repeat;
     background-position: center;
      background-size: 20px 20px;
      padding: 30px;
      color: white;

}

*/


.grid .mensaje{
    font-size:22px;
    display: none;
    text-align: center;

}

.fail .mensaje{
     display: block;  
}
.fabs:before{
     background-image: url("images/icons/fabs.svg");
       width: 18px;
}


.shares:before {
    background-image: url("images/icons/shares.svg");
    width: 18px;
}

.views:before{
     background-image: url("images/icons/views.svg");
     width: 22px;
}




#menu-top #primary-navigation a {
    display: block;
    padding: 0 10px;
    border-right: 1px solid #666666;
}

#menu-top #primary-navigation li:nth-last-child(2) a {
    border: 0;
}

.primary-navigation li{
/*  margin-right: 3vw; */
}



.intruccionesQCH .pure-u-10-24, .linea{

   text-align: center; 
   border-bottom: 1px solid #ccc; 
   line-height: 0.1em;

   margin: 10px 0 4%; 
}

.linea{
    padding-bottom: 0px;
    height: 1px;
    position: relative;
    padding-top: 6%;
}

div.intruccionesQCH {
    margin: 50px 0 30px 0;
}

.intruccionesQCH div, .tip{
    text-align:center;
}

.tip p {
    color: #666666;
    padding: 30px 0px 20px 0;
}

.pure-u-2-24.icon {
    margin: 0 4%;
}

#primary-menu {
      position: relative;
      font-size: 16px;
      list-style: none;
}
#primary-menu li {
    float: left;
    margin-top: 29px;
    padding: 0;
}
#mainBusqueda {
    background: #f7f7f7;
    padding-top: 4px;
    padding-left: 5px;
    margin-bottom: 35px;
}

#mainBusqueda .number{
    width:160px;
    vertical-align: middle;
}

#mainBusqueda .seleccion {
    width: calc(100% - 114px);
    display: inline-block;
   
    text-align: left;
}

#mainBusqueda .number {
    width: 80px;
    display: inline-block;
}

.menu-sec{
    float: right;
    height: 62px;
    margin-right: 24px;
}

.menu-sec > a{
    padding-top: 19px;
}

.PSelect{
    display: inline-block;
    padding: 0px 10px;
    vertical-align: top;
    width: 73px;
}
.termName{

    font-family: 'Roboto',sans-serif;
}
.first-visible .termName {
    color:#fff200;
}
#recetasGrid a:not(.first-visible) .tituloRes , .page-template-page-favoritas a:not(.first-visible) .tituloRes , .single-blog a:not(.first-visible) .tituloRes{
    color:#333333;

}
a:not(.first-visible) .termName {
    display: none;
}


#recetasGrid a:not(.first-visible) .tituloRes {
    height: 26px;
    padding-bottom: 20px;
}

.tituloRes{
    color:white;
}

.PSelect select option[value="cr"] { background-image:url(cr.png);   }

#search-contact {
    float: right;
    margin-top: 40px;
}

#hablanos {
    display: inline-block;
    width: 140px;
    text-align: center;
    background: #ff3333;
    height:35px;
    line-height: 35px;
    color: #ffeb00;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    vertical-align: top;
    margin: 6px 46px 0 14px;
}

.lista .wpcf7-list-item {
    display: inline-block;
    width: 100%;
    padding: 10px;
}

div#suscribete {
    background: url('/wp-content/uploads/2016/06/Banner_ComunidadMobile.png') top center no-repeat;
    height: 300px;
    width:100%;
    margin: 0 auto;
    background-size: cover;
}

h2.suscribete {
    color: #FFF;
    position: relative;
    text-align: center;
    /* top: -180px; */
    text-transform: uppercase;
    padding: 126px 0 10px;
}

#suscribete p {
    color: #FFF;
    text-align: center;
}

div#usuario {
    display: inline-block;
}


div#prodInfo {
    box-sizing: border-box;
    padding-left: 20px;
    font-family: "Roboto", sans-serif;
    position: relative;   
}

#form-hablenos .wrapper-dropdown {
    box-sizing: border-box;
    width: 100%;
    margin: 10px 0;
    max-height: 110px;
}

.infoNutTit .arrow {
    float: right;
    margin: 3px;
}

a.infoNutTit {
    width: 210px;
    display: block;
    padding: 10px;
    height: 23px;
    font-size: 16px;
    color:#666666;
}

.resum .icon img {
    width: 38%;
    padding: 18px;
}

.gback{
    background:#f4f4f4;
}

.edad .icon img {
    width: 30% !important;
    /* padding: 14px; */
    margin-left: 2px;
}

.tablaProd {
    text-align: center;
    position: absolute;
    background: white;
    z-index: 9;
    width: 620px;
    right: 0;
    max-height: 0;
    overflow: hidden;

}

.resum .icon img {
    width: 38%;
}

.tablaProd.abierto{
     max-height: 1000px;
}


.tablaProd table {
    width: 100%;

}



.tablaProd td, .tablaProd th {
    padding: 13px;
}


.tablaProd table thead{
    background:#333333;
    color: white;
}

.tituloPadre {
    padding: 20px;
    font-size: 12px;
    text-align: center;
}

div#prodInfo .titulo {
    width: 100%;
    background: red;
    text-align: center;
    font-size: 10px;
    color: white;
    padding: 18px 0;
}


div#prodInfo .titulo {

}

div#prodInfo .descripcion {
    font-weight: lighter;
    color: #666;
    font-size: 16px;
    line-height: 21px;
}

.login  a{
       color: white !important;
}

 .login > a, .ver_receta_btn , #searchsubmit ,  .registro{
    background-color: #ff3333;
    
    text-align: center;
    /* padding: 15px 10px; */
    padding: 15px 0;
    
    

}

.login > a , .ver_receta_btn  , .wpurp-recipe-favorite ,.hgrow{
 position: relative;
transition: all 0.2s ease 0s;
bottom: 0; /* start out at position 0 */
}


#btnCloseSession { top: 5px;
    position: relative; }

.ver_receta_btn , #searchsubmit {
    float: right;
}

#subscribete img{
    width: 100%;
}

.registro {
    width: 285px;
    height: 20px;
    display: block;
    margin: 0 auto;
    bottom: 40px;
    color: white;
    position: relative;
}


.ver_receta_btn {
        width: 100%;
        color:white;

}

.titam {
    color: #333333;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
}

#searchsubmit {
    border: none;
    color: white;
    width: 70px;
    padding:6px 0;
}

.login a:before{
    display: none;
}

a#btnCloseSession {
    padding-left: 10px;
}

p.noti {
    margin-left: 11px;
    position: relative;
    float: left;
    width: 19px;
    height: 22px;
    padding-right: 19px;
    padding-left: 4px;
    background-repeat: no-repeat;
    background-image: url("images/icons/notif.svg");
}

div#usuario p {
    float: left;
}

.noti span {
    border-radius: 50%;
    background: #fff100;
    width: 20px;
    display: block;
    color: #ff3333;
    font-weight: bold;
    font-size: 15px;
    left: 8px;
    position: relative;
}

#recetasGrid{
     font-size: 0;
}

#recetasGrid  a{
    -webkit-transition: width 0.3s; 
      -moz-transition: width 0.3s; 
      -ms-transition: width 0.3s; 
      -o-transition: width 0.3s; 
      transition: width 0.3s;  
    display: inline-block;
    width: calc(33% - 20px);
    height: 120px;
    padding: 15px 10px;
    font-size: 15px;
}

#recetasGrid  .grid-item{
    position: relative;
    height: auto;
    vertical-align: top;
}

.first-visible > span {
    position: absolute;
    bottom: 21%;
    left: 8%;
    z-index: 1;
}

.first-visible .overl ,.hid span.overl{
    left: 0;
    width: 100%;
    position: absolute !important;
    height: 100%;
    display: block;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 40%, rgba(0,0,0,0.62) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,40) 0%,rgba(0,0,0,0.62) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 40%,rgba(0,0,0,0.62) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#9e000000',GradientType=0 );
}


.first-visible .overl {
     z-index: 99999;
}



p.fa.fa-power-off{
    transform: scale(1,1);
    transition-duration: 0.3s;
    position: relative;
    top: -4px;
}

p.fa.fa-power-off:hover {
    color: #fff200;
    -ms-transform: scale(1.3,1.3); /* IE 9 */
    -webkit-transform: scale(1.3,1.3); /* Safari */
    transform: scale(1.3,1.3);
}

.sec > span {
    vertical-align: top;
    display: inline-block;
    width: 60%;
}
.sec .imagenTemp{
    display: inline-block;
    vertical-align: top;
}

.sec .termName{
    display: none;
}

.sec  .tituloRes {
    padding-left: 10px;
    color: #333333;
}



.Aut_info .fecha , .grid-item .fecha{
    font-size:12px;
    color: #909090;
}

.author #main {
    padding-top: 100px;
}

.author_name{
    color:#ff3333;
    font-size:12px;
    padding-bottom: 7px;
}
#receta_athor_prin .pure-u-1-8  img{
    width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
}
#receta_athor_prin .info {
    padding-left: 25px;
    box-sizing: border-box;
}

#receta_athor_prin p{
    padding-bottom: 10px;
}

.pager-list {
    text-align: center;
    padding: 20px 20px 30px 20px;
}

span.pager.page-number.active {
    background: #ff3333;
    color: #ff3333;
}
span.pager.page-number {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #eeeeee;
    color: #eeeeee;
    width: 23px;
    height: 23px;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
}

a:not(.first-visible) .marco , .postVideo.pure-u-md-1-8 img{
     -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
}

#frases .owl-dot {
    background: #ccc;
    height: 20px;
    width: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    margin: 7px;
    border-radius: 20px;
    display: inline-block;
}

#frases .owl-dot.active {
    background: #ff3333;
}

#frases .owl-dots {
    margin-top: 40px;
}
#frases h3 {
    padding: 10px;
    color: #333333;
    font-family: "Roboto",sans-serif;
    font-size: 24px;
    font-weight: 100;
}


#frases p {
    padding-top: 40px;
    color: #666666;
}

.first-visible > .marco{
    -webkit-border-radius: 20px 20px 0 20px; 
    -moz-border-radius: 20px 20px 0 20px;
    border-radius: 20px 20px 0 20px;
    height: 420px;
    overflow: hidden;
}

.first-visible > .marco > img {
    width: 100%;
 
}

.soc {
    /* border-radius: 50%; */
    width: 30px;
    height: 30px;
    display: inline-block;
    /* background: #cccccc; */
    vertical-align: super;
    margin: 0 21px 0 0;
}

.soc:hover .st0{
    fill:#ff3333;
}


.dd-select {
    border: none !important;
    background: none !important;
}



.dd-container{
    width: 53px !important;
}

.dd-option p {
    /* float: left; */
    display: inline-block;
    padding-top: 0px;
    padding: 0px 10px;
    vertical-align: sub;
font-size: 14px;
}

.dd-pointer {
    display: none;
}

/* MENU */

.responsive-nav-icon::before,
.responsive-nav-close::before,
.searchMov::before {
    color: #333333;
   
    font-family: FontAwesome;
    font-size: 28px;
    position: relative;
}
.menuIco::before{
     content: "\f0c9";
}

.searchMov::before{
     content: "\f002";
}

.responsive-nav-close::before {
    color: #ff3333;
    content: "\f00d";
    font-size: 18px;
}

.responsive-nav-icon , .searchMov {
    background: #fff;
    line-height: normal;
    padding: 17px 17px 16px 17px;
    top: 0; left: 0;

}

.responsive-nav-icon:hover,
.responsive-nav-close:hover,.searchMov:hover {
    opacity: .7;
}

.responsive-nav-close {
    top: 10px; right: 10px;
}

.social > div {
    display: inline-block;
}

.social {
    padding: 40px 0;
}

.menuBlog , .menuBlog ul{
    padding: 10px;
    box-sizing: border-box;
}

#blog-archive li {
    display: block;
    float: left;
    padding-right: 15px;
}

#recetaContent , #blogContent{
    box-sizing: border-box;
    padding-right: 20px;

}

.mini-info{
    padding: 10px;
    box-sizing: border-box;
    background:#f4f4f4;
}



#recetaContent .notas{
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}

.mini-info > div {
    padding: 2px;
}

.mini-info > div span:first-child{
    color:#ff3333;
}

.mini-info > div span:first-child   span {
    float: right;
    color: #66666f;
}

.button.facebook {
    display: inline-block;
    vertical-align: super;
}
#overlay {
    background: 0 0 rgba(0, 0, 0, 0.8);
    display: none;
    height: 100%;
    position: fixed;
    top: 0; left: 0;
    -moz-transition: all 0.2s linear 0s;
    -webkit-transition: all 0.2s linear 0s;
    -ms-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
    width: 100%;
    z-index: 90;
}

#primary-menu li a{
     color: #666666;
     text-decoration: none;
}

.menu-principal-container {
    display: inline-block;
 
}



#footer{
    font-family:"Roboto",sans-serif;
    padding-top: 50px;
   
}
#footer p , #footer a{
    color: #333333;
}
   
#footer a{
    padding: 10px;
}

#footer a:hover{
    color:#ff3333;
}

.infoPresentacion {
    background-color: #f4f4f4;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    padding: 20px;
}
.infoPresentacion .tit {
    color: #ff3333;
    width: 50%;
    float: left;
}

.infoPresentacion .tit   div{
    text-align: right;
}

.footer_inner {
    /* height: 280px; */
    background: #fff200;
    width: 100%;
    position: relative;
    padding-bottom: 50px;
    text-align: center;
}

.footer_inner .logoFooter{
    position: relative;
    margin: 0 auto;
    top:-30px;
    width: 100%;
    display: inline-block;
}

.footer_inner .logoFooter img{
    width:162px;
}


.breadcrumbs span {
    
    display: inline-block;
}


.breadcrumbs span a{
    
   color:#666666;
}


#recetasGrid {
    font-size: 0;
   /* min-height: 651px; */
}


#recetasGrid.fail{
    min-height: 0px; 
}
.recetaGrid .grid-item span {
    width: 100%;
    height: 20px;
    background: red;
    position: absolute;
    bottom: 0;
}




/* darle estilo a los selects */

.wrapper-dropdown {
   
    position: relative;
    width: calc(100% - 15px);
    padding-right: 5px;
    margin: 0 auto;
    padding: 13px 15px;
   background: white;
    border: 1px solid #cccccc;
    color:#cccccc;
    cursor: pointer;
    outline: none;
    font-size:12px;
}
.seleccion .wrapper-dropdown {
    max-height: 16px;
}

span.ingredientesTit {
    /* overflow: hidden; 
    height: 15px; */
    display: inline-block;
    vertical-align: bottom;
}


#blog-archive li{
        display: block;
        float: left;
}

.blog_info{
    width: calc(100% - 200px);
    color: #666666;
    padding: 10px;
    box-sizing: border-box;
}

.blog-a{
    position: relative;
}

.blog-a .views_info{
    display: block !important;
}

.blog_info p{
    font-size: 13px;
}

.blog_info p , .blog_info h3 {
    display: inline-block;
    width: 100%;
}


 .blog_info .info > img {
    padding-left: 0 !important;
     padding-top: 0 !important;
}


 .blog_info .info .Aut_info{
    padding-top: 0 !important;
}

.blog-a > div , .blog-a h3{
    float: left;
}


.blog-post-th > img {
    -webkit-border-radius: 20px 20px 0 20px;
    -moz-border-radius: 20px 20px 0 20px;
    border-radius: 20px 20px 0 20px;
    /* height: 420px; */
    overflow: hidden;
    display: inline-block;
}



 .wrapper-dropdown:after {
    content: "⋮";
    width: 43px;
    height: 43px;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 29px;
    text-align: center;
    color: white;
    margin-top: 0;
    background: red;
}

.wrapper-dropdown .dropdown {
  /* Size & position */
    position: absolute;
    top: 100%;
    left: -1px;
    right: 0px;

    /* Styles */
    background: white;
    transition: all 0.3s ease-out;
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

.wrapper-dropdown .dropdown li a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px;
    transition: all 0.3s ease-out;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}



.wrapper-dropdown .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}


.wrapper-dropdown.active:after {
    border-width: 0 6px 6px 6px;
}

.wrapper-dropdown.active .dropdown {
    opacity: 1;
    pointer-events: auto;
    z-index: 999;
   

}
.wrapper-dropdown .dropdown {
    max-height: 300px;
    overflow: scroll;
}

.wrapper-dropdown .dropdown a.active{
    color:red;
}
.content-area {
    width: 100%;
    display: inline-block;
}

.recDif  span {
    display: inline-block;
    float: left;
    margin: 2px;
}

.recDif p {
    float: left;
    padding: 2px 11px;
    font-weight: bold;
}


.back-sabo{
    position:relative;
}
.back-sabo .t {
    padding: 30px;
}

.info-der {
    padding-top: 70px;
    
}


.pure-u-1-2.info-der img , .pure-u-1-2.info-der p  {
    display: block;
    margin: 0 auto;
}

.info-der p {
    padding-top: 30px;
    max-width: 301px;
    font-size: 13px;
    float: left;
}

.author .sep {
    color: #666666;
    padding: 31px 0;

}
span.relSus {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.pure-u-1-1.titu span {
    padding: 20px;
    background: #ff3333;
    float: right;
    color:white;
}

div#suscribete {
    position: relative;
    float: left;
}


.pure-u-1-1.titu > span > img {
    width: 21px;
}

.resum span.icon {
    width: 60px;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
}

.imagen-promo-prin img{
    width: 100%;
}

.red{
    background-color: #ff3333
}

.yellow{
    background-color: #fff200;
}

.resum span.datos {
    display: inline-block;
    width: calc(100% - 70px);
    vertical-align: middle;
}


#categorias a svg , #categoriasSide a svg {
    width: 40px;
}

#categorias a:hover .st0 , #categorias a.activo .st0 , #categoriasSide a:hover .st0 , #categoriasSide a.activo .st0 {
    fill:#ff3333;
}
#categorias a:hover , #categorias a.activo , #categoriasSide a:hover , #categoriasSide a.activo {
    color: #ff3333;
}
.resumen p{
    font-size: 14px;
    padding: 17px 0;
}

.resum .datos > p:first-child{
    padding: 0 0 0 20px;
    float:left;
    color:#ff3333;
}

.resum .datos > p:first-child   p{
    padding: 0 20px;
    float:right;
}

.info-der .social {
    display: inline-block;
    text-align: center;
    width: 100%;
    max-width: 301px;
    padding: 25px 25px 0 0;
}

.info-der .social a {
    margin: 0 7.5px 0 7.5px;
}

.info-der > span > img:first-child {
    padding-bottom: 20px;
float: left;

}



img.sabo_titulo {
    position: absolute;
    top: 37px;
    right: 20px;
}

.Sabo-principal{
    top:-80px;
    position: absolute;
}

.recDif  > span {
     width: 15px;
     height: 15px;
     border: 2px solid #ccc;
}

.recDif  > span > span {
     width: 6px;
    height: 6px;
    background:#ccc;
    margin: 4px;
    color: #ff3333
}

.recDif p {
    display: inline-block;
    color: #ff3333;
    padding: 3px 5px;
}

span.dialog {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 99999999;
    width: 161px;
    height: 61px;
    overflow: visible;
}

  .owl-prev ,    .owl-next{
        font-size:22px; 
    }


.recDif.facil > span:first-child {
    border-color: #ff3333;
}

.recDif.facil > span:first-child >span {
    background-color:  #ff3333;
}

.recDif.medio > span:first-child , .recDif.media > span:first-child   span {
    border-color: #ff3333;
}

.recDif.medio > span:first-child >span , .recDif.media > span:first-child   span > span{
    background-color:  #ff3333;
}


.recDif.dificil > span {
    border-color: #ff3333;
}

.recDif.dificil > span >span{
    background-color:  #ff3333;
}

#receta_athor_prin .pure-u-1-8 {
    width:120px;
    height:100px;
    margin: 30px 0;
}
#receta_athor_prin .pure-u-1-8   .pure-u-1-8 {
    margin-left: 18px;
}

#receta_athor_prin .tituloCat{
    color: #ff3333;
}
#receta_athor_prin .views_info{
    color:#666666;
    margin-bottom: 20px;
}


.banner > img{
    width: 100%;
    height: 100%;

}

#recetasGrid a:not(.first-visible) .tiempo{
    display:none;
}

.archive .tiempo , .home .tiempo , #menuLateral .tiempo ,.search .tiempo, .page .tiempo {
    width: 120px;
    float: right;
    padding: 13px 13px !important;
}

.tiempo{
    background:#ff3333;
    color:white;
}

.tiempo img{
    float: left;
    width: 20px;
}

.tiempo h2, .tiempo p {
    display: inline-block;
    padding-left: 6px;
    float: left;
}

.tiempo h2 {
    margin-left:10px; 
}

.tiempo.pure-u-md-4-24 {
    /* padding: 14px; */
    text-align: center;
    padding: 13px 13px !important;
    box-sizing: border-box;
}

.breadcrumbs, .dificultad {
    padding-top: 19px;
}

/* Hover state */

.wrapper-dropdown .dropdown li:hover a {
    color: grey;
}

.ProductoGroup{
    overflow: hidden;
    cursor: pointer;
}

.ProductoGroup > span > img {
    width: 100%;
}


.owl-prev, .owl-next {
    position: absolute;
    top: 40%;
}



.ProductoGroup > span{
    position: relative;
}


.ProductoGroup .boton {
    width: 60px;
    height: 60px;
    background: #ff3333;
    float: right;
    text-align: center;
    color:white;
}

.ProductoGroup  .boton p{
    font-size: 24px;
    font-weight: lighter;
    position: relative;
    top: 16px;
}


.ProductoGroup.open .fa-chevron-down,.ProductoGroup .fa-chevron-up{
    display: none;
}

.ProductoGroup.open .fa-chevron-up , .ProductoGroup .fa-chevron-down{
    display: inherit;
}

.productos-carousel{
    height: 0;
 
  -webkit-transition: height 0.5s; 
  -moz-transition: height 0.5s; 
  -ms-transition: height 0.5s; 
  -o-transition: height 0.5s; 
  transition: height 0.5s;  
  margin: 0 auto;
  max-width: 960px;
}

.productos-carousel .owl-stage-outer {
   overflow: hidden;

}



.productos-carousel .owl-stage-outer{
    overflow: hidden;
}

.productos-carousel .owl-item{
    background:white;
}

.productos-carousel img{
    position: absolute;
    margin: 15px auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.inner .productos-carousel{
    box-sizing: border-box;

}

.open .productos-carousel{
    height: 300px; 
}

.inner {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: white;
    bottom: 20px;
    max-width: 960px;
  
  
}

.ProductoGroup span > .inner > p {
    position: absolute;
    bottom: 0;
    /* width: 60%; */
}
.back-saboT , .back-sabo .tp{
      background: #fff200;
      -webkit-border-radius: 10px 10px 0 10px;
     -moz-border-radius: 10px 10px 0 10px;
     border-radius: 10px 10px 0 10px;
}

a.play {
    width: 42px;
    display: inline-block;
    position: relative;
    right: 0;
    top: 95px;
    left: 70%;
}
a.vp-a.play::after {
    content: "Ver Video";
    color: red;
    font-size: medium;
    display: inline-block;
    width: 80px;
    text-align: center;
    left: -18px;
    position: relative;
    margin-top: 10px;
}

.info-der {
    padding-left: 40px;
    box-sizing: border-box;
    position: relative;
}

.back-saboT{
    position:relative;
    height: 280px;
    width: 480px;

}





.back-sabo .tp{
    height: 180px;
    overflow: hidden;
    -webkit-border-radius: 10px 10px 0 10px;
    -moz-border-radius: 10px 10px 0 10px;
    border-radius: 10px 10px 0 10px;
}

.back-sabo .tp span:first-child img{
    height: 100%;

}

.back-sabo  .titu > img {
    width: 50%;
    padding: 15px 0;
}

.back-sabo .desc p {
    color: #666;
    font-size: 15px;
}


.tp span{
    height: 120%;
}

.wpurp-recipe-favorite .fa {
    padding:20px;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
        padding: 17px 22px 17px 20px;
}

.dialogo .ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix {
    text-transform: uppercase;
}

input#zm_alr_login_submit_button , .zm_alr_social_facebook_login_container a.fb-login-logo , input#zm_alr_register_submit_button{
    width: 100%;
    color: white;
    font-size: 17px;
    text-align: center;
    border: none;
    display: inline-block;
    padding: 20px 10px;
        position: relative;
    transition: all 0.2s ease 0s;
    float: right;
}

input#zm_alr_login_submit_button , input#zm_alr_register_submit_button{
      background: #ff3333;
      margin-bottom: 20px;
}

.zm_alr_social_facebook_login_container a.fb-login-logo{
    background: #3366cc;
}

/*.first-visible  span.overl {
    position: absolute;
    bottom: 0;
    height: 30%;
    width: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 99999;
}
*/


.wpurp-recipe-favorite .fa img {
    width: 20px;
}

.wpurp-recipe-favorite .fa p{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
}


.wpurp-recipe-favorite .fa-heart:before ,.wpurp-recipe-favorite .fa-heart-o:before {
    display:none;
}

.numFab .fa-heart {
    color: #ff3333;
    padding: 0px 30px 0px 8px;
}

.numFab {
    margin-right: 21px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 87px;
    height: 19px;
    border: 1px solid #ccc;
    padding: 18px;
    margin-top: 0px;
}

.wpurp-recipe-print-button , .blog_print{
    width: 48px;
    height: 48px;
    display: inline-block;
}

 .wpurp-recipe-print-button , .blog_print {
    padding: 0 11px;
    vertical-align: middle;
}
a.synved-social-button , .whats{
    margin-left: 15px;
    background: #ccc;
    width: 50px;
    height: 50px;
    vertical-align: top;
    position: relative;
    border-radius: 40px;
}


.whats{
   display:inline-block;
}

a.synved-social-button:hover , .whats:hover{
   background: #ff3333; 
}

img.synved-share-image.synved-social-image.synved-social-image-share , .whats img {
    /* height: 21px; */
    max-height: 50%;
    max-width: 50%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

a.wpurp-recipe-print-button {
    padding-top: 6px;
}

.wpurp-recipe-favorite i.fa {
    width: 92px;
}

.whats, .wpurp-recipe-print-button {
    margin-left: 8px;
}
.sh {
   /* padding-left: 40px;*/     
}

.sh p {
    color:#666666;
    padding: 10px 21px;
}

.wpurp-recipe-favorite .fa-heart{
    background:#cccccc; 
}
.wpurp-recipe-favorite .fa-heart-o img{
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.wpurp-recipe-favorite .fa-heart-o{
    background:#333333; 
}

.wpurp-recipe-favorite .fa-heart-o p::After {
    color:#fff200;
    content: 'Agregar';
}

.wpurp-recipe-favorite .fa-heart p::After {
    color:white;
    content: 'Eliminar';
}

#footer span.social {
    width: 100%;
    float: left;
}


#footer .st0{fill:#ff3333 !important;}
/* fin estilos select*/


.video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}


.ingredientes ul .wpurp-recipe-ingredient {
    position: relative;
    display: block;
    padding: 10px;s

    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;
}

.ingredientes ul .wpurp-recipe-ingredient:nth-child(2n 1) {
    background: #f4f4f4;
}
.ingredientes ul .wpurp-recipe-ingredient:before {
    color: white;
    content: "\f058";
    counter-increment: li;
    position: absolute;
    left: -2.6em;
    margin-top: -0.5em;
    font-family: FontAwesome;
    height: 2.32em;
    width: 2.6em;
    line-height: 2.6em;
    text-align: center;
    /* font-weight: bold; */
    font-size: 1.2em;
    height: 100%;
}

ul.wpurp-recipe-ingredients {
    padding-left: 1.6em;
}

ul.wpurp-recipe-ingredients a{
    color: #ff3333;
}


.ingredientes ul .wpurp-recipe-ingredient:before {
    background: #ff0000;
}

.ingredientes ul .wpurp-recipe-ingredient:nth-child(2n 1):before {
    background: #fff200;
}

.overflow-abierto { overflow: hidden; }
.ams-comentarios-preguntas { border-bottom: 1px solid #ccc; }
.ams-comentarios-preguntas #reply-title { margin-top: 0px; }
.ams-comentarios-preguntas #pregunta #submit { margin: 10px 0px; }
.ams-comentarios-preguntas .success { box-sizing: border-box; }
.infoNut table tr:last-child td { padding-top: 10px; border-top: 1px solid #ccc; margin-top: 12px; }
#menuLateral #searchform { margin: 15px 0; }
#form-hablenos .select-cont:after { line-height: 10px; }
#form-hablenos span.wpcf7-not-valid-tip { position: initial; }
#form-hablenos .wpcf7-submit { margin-top: 20px; }
.boletin  #wpcf7-f164-o1 span.wpcf7-not-valid-tip { display: none; visibility: hidden; opacity: 0; }

h1.hero-text { position: absolute; bottom: 55%; right: 15%; text-align: right; color: #FFFFFF; font-weight: normal; text-transform: uppercase; font-size: 27px; padding: 0; margin: 0; }
.hero-here { color: #fff200; }


.infoNutTit.abierto .arrow {     -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=-0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=-0.7071067811865476)"; }

.after-pager-line {
    text-align: center;
    border-bottom: 1px solid #ccc;
    line-height: 0.1em;
    margin: 10px 0 4%;
}

.page-registrate{
padding: 0% 10% 0% 10%;
}

.page-iniciar-sesion{
padding: 0% 10% 0% 10%;
}

.recipe-tooltip-content {
  display: none;
}

#Container {
    /*top: -87px;*/
    position: relative;
}

.video_header {
    text-align: center;
}

.video_header img {
    width: 100%;
}

.video_header h1 {
    position: absolute;
    color: #ffffff;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 26px;
    padding-left: 0px;
    top: 250px;
    text-align: center;
}

.video_container {
    padding: 0% 5% 0% 5%;
}

.video_container .row {
    margin-bottom: 5%
}

.video_container .video_main {
    margin-bottom: 10%;
}

.video_container .social_videos {
    margin-bottom: 15%;
}

.video_container .social_videos .fb {
    display: inline-block;
}

.video_container .social_videos .fb a {
    margin-left: 0 !important;
}

.video_container .social_videos .tw {
    display: inline-block;
}

.video_container .social_videos .pin {
    display: inline-block;
}

.video_header {
    margin-bottom: 5%;
}

.tabs_search {
    text-align: center;
    padding: 0% 15%;
}

.tabs_search .tab a {
    text-decoration: none;
    margin-bottom: 20px;
    border: 1px solid #c4c4c4;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    color: #383738;
    display: inline-block;
    width: 100%;
    position: relative;
    left: -13px;
}

.tabs_search .tab a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #ff0000;
}

.tabs_search .tab.comerciales_link a::before {
    content: url('/wp-content/uploads/2017/03/comerciales-icon.png');
    width: 42px;
    height: 42px;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 10px;
}

.tabs_search .tab.comerciales_link a:hover::before {
    content: url('/wp-content/uploads/2017/03/comerciales-icon-hover.png');
}

.tabs_search .tab.recetas_link a::before {
    content: url('/wp-content/uploads/2017/03/recetas-icon.png');
    width: 42px;
    height: 42px;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 10px;
}

.tabs_search .tab.recetas_link a:hover::before {
    content: url('/wp-content/uploads/2017/03/recetas-icon-hover.png');
}

.tabs_search .tab.promociones_link a::before {
    content: url('/wp-content/uploads/2017/03/promociones-icon.png');
    width: 42px;
    height: 42px;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 10px;
}

.tabs_search .tab.promociones_link a:hover::before {
    content: url('/wp-content/uploads/2017/03/promociones-icon-hover.png');
}

.search_videos {
    text-align: center;
}

.search_videos input {
    border: none;
    text-align: center;
    background-color: #F1F1F1;
    padding: 10px 0px;
    margin: 0 auto;
    color: #C1C1C1;
    width: 85%;
    position: relative;
    left: -21px;
}

.search_videos span {
    content: url('/wp-content/uploads/2017/03/search-icon.png');
    width: 21px;
    height: 21px;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 10px;
    position: relative;
    left: 30px;
    z-index: 2;
}

.videos_container {
    text-align: center;
}

.videos_container div {
    margin-bottom: 10%;
    width: 80%;
    display: inline-block;
}

.videos_container img {
    width: 100%
}

.pagination a {
    color: #000000;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0 10px;
    font-size: 27px;
    font-weight: bold;
}

.pagination a.current_pag {
    background: #ff3333;
    color: #ffffff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.pagination span {
    position: relative;
    top: 15%;
}

.comment-form label {
    padding: 10px 0;
}

.actual-category{
    color: #ff0000;
    padding-left: 10px;
    margin-bottom: 35px;
}



/* 404 ams */
.body_404 .header-main.wrap { padding-bottom: 0 !important; }

.page_404 { width: 100%; position: relative; }
    .page_404 img { display: block; width: 100%; position: absolute; }
    .atun_404 { top: 50px; left: 0; max-width: 135px; }
    .cebollin_404 { top: 0; right: 0; max-width: 221px; }
    .tomates_404 { bottom: 0; left: 10px; max-width: 256px; }
    .papas_404 { bottom: 0; right: 0; max-width: 190px; }
    .center_404 { margin: 0 auto 0 auto; padding: 60px 0 140px 0; width: 100%; max-width: 810px; text-align: center; position: inherit; z-index: 100; box-sizing: border-box; }
        .center_404 img { width: 100%; max-width: 453px; position: inherit; margin: 0 auto; }
        .center_404 h2 { text-transform: uppercase; font-size: 24px; color: #363636; margin-top: 25px; }
        .center_404 h2 a { text-decoration: underline; color: #e7be02; }

@media screen and (max-width: 768px) {
    .cebollin_404 { display: none !important; }
    .center_404 { padding-left: 5%; padding-right: 5%; }
    .center_404 img { max-width: 60%; }
    .center_404 h2 { font-size: 18px; }
    .atun_404 { max-width: 65px; top: 0; }
    .tomates_404 { max-width: 116px; }
    .papas_404 { max-width: 100px; }

    .boletin { padding: 50px 5%; }
    .boletin div.wpcf7-validation-errors, .boletin div.wpcf7-mail-sent-ok { padding: 10px 5%; font-size: 14px; }
}

@media screen and (max-width: 420px) {
    .center_404 { padding-top: ; padding-bottom: 180px; }
    .center_404 h2 { font-size: 14px; }
}
/* End 404 */



@media only screen and (min-width: 800px) {
    .mobile{
        display: none !important;
    
    }

    

    a.registro.hgrow:hover {
        bottom: 45px;
    }


    .login > a:hover ,.ver_receta_btn:hover ,  .wpurp-recipe-favorite:hover ,  .hgrow:hover ,input#zm_alr_login_submit_button:hover , .zm_alr_social_facebook_login_container a.fb-login-logo:hover , input#zm_alr_register_submit_button:hover{
        bottom: 5px;

    }

    a#btnCloseSession {
        float: right;
    }


    #banner .owl-nav{
        color:black;
    }
     img.mobile.owl-lazy.imgbanner {
        display: none !important;
    }



    .mid-show{
        display: none !important;;
    }

    .ui-dialog-titlebar-close{
        display: none !important;

    }

    .info-der span:first-child {
     /*   position: absolute; */
        bottom: 0;
    }

    li.menu-item.menu_historias_caseras a:before{
        background-image: url("images/icons/Menu-histCas.svg");
    }

    li.menu-item.menu_los_saboreadores a:before{
          background-image: url("images/icons/menu-sabo.svg");
    }

    li.menu-item.menu_recetas a:before{
          background-image: url("images/icons/menu-recetas.svg");
    }

    li.menu-item.menu_promociones a:before{
          background-image: url("images/icons/menu-promos.svg");
    }

    li.menu-item.menu_productos a:before{
          background-image: url("images/icons/menu_productos.svg");
    }

    li.menu-item.menu_blog a:before{
          background-image: url("images/icons/menu-blog.svg");
    }


    .login > a{
       /* width: 200px; */
      
        padding: 9px 20px;
        float: right;
        font-size: 16px;
    }

    .header-main.wrap{
        padding-bottom: 30px;
    }

    #primary-navigation{
        vertical-align: top;
        display: inline-block;

    }
 
    .owl-prev{
        left: -4vw;
    }

    .owl-next{
        right: -4vw;
    }

    
     #recetasGrid a:not(.first-visible) span ,  a:not(.first-visible) .info{
        float: left;
        width: calc(60% - 10px);
        padding-left: 10px;
     }


    #recetasGrid a:not(.first-visible) .marco img{
        width: 100%;
    }

    #recetasGrid a.first-visible  {
        /* height: 480px; */
        width: calc(50% - 20px);
        padding: 10px 10px 30px 10px;

    }

    .login {
        float: right;
        margin: 0px 10px 0 23px;
    }



    #main , .registrate{
        max-width:961px;
    }
    .responsive-nav-icon,
    .responsive-nav-close ,.searchMov{
        cursor: pointer;
        display: none;
    }
    
    #menu-top{
        background: #f4f4f4;
        height: 64px;
    }

    #receta_athor_prin , #receta_athor_prin > div:first-child > a > img{
        width: 100%;
    }

}
 a.sec img{
        margin:0 auto;
        width: 90%;
}

@media only screen and (max-width: 961px) {
    #categorias a , #categoriasSide a {margin: 10px 0.4vw !important;}
    .first-visible > .marco{
        height:43vw;
        overflow: hidden;

     }



    .owl-prev{
        left: 20px;
    }

    .owl-next{
        right: 20px;
    }
}

/** menu secundario 
@media only screen and (max-width: 1255px){
    .menu-secundario-container {
      
        clear: both;
        display: inline-block;
        float: none;
    }
} **/

@media only screen and (max-width: 800px) {

    .desktop , .mid-show{ display: none !important; }

    .resum span.datos { font-size: 0.87em; }
    #recetaContent > .pure-g > .pure-u-1-2 { width: 100%; }
    #recetaContent > .pure-g > .notas { width: 100%; }
    #menuLateral #recetasGrid > a { margin-top: 20px; }

    #mainBusqueda .wrapper-dropdown, #busquedaAvanzada .wrapper-dropdown { height: 17px; max-height: initial !important; }
    #mainBusqueda .wrapper-dropdown.active, #busquedaAvanzada .wrapper-dropdown.active { height: auto; }
    #mainBusqueda .wrapper-dropdown.flecha_abajo:before, #busquedaAvanzada .wrapper-dropdown.flecha_abajo:before { content: '\f078'; font-family: FontAwesome; font-style: normal;
    font-weight: normal; text-decoration: inherit; position: absolute; top: 30px; left: 50%; margin-left: -9px; display: block; color: #ccc; font-size: 18px; }
    #mainBusqueda .wrapper-dropdown.active .dropdown, #busquedaAvanzada .wrapper-dropdown.active .dropdown { position: initial; margin-top: 27px; }

    #mainBusqueda .number { vertical-align: top; height: 50px; margin-bottom: 30px; line-height: 50px; }
    #mainBusqueda .number p.in { line-height: 16px; padding-top: 16px; }
    #mainBusqueda .seleccion { margin-bottom: 20px; }

    .recipe-tooltip .wpurp-recipe-print-button { display: none; }

    h1.hero-text { font-size: 13px; right: 10%; line-height: 17px; bottom: 47%; }

    #btnCloseSession { top: 19px; }

        .logo img {
            margin: 13px auto;
        }

        #menu-top #primary-navigation a {
            border: none;
        }


        .ProductoGroup span > .inner > p{
            left:10vw;
        }
        

        .tablaProd {
            width: 100%;
        }

        div#prodInfo .descripcion{
            padding: 20px;
        }


        #options h3.tit {
        bottom: 0;
        }

        li.wpurp-recipe-instruction span{
            width: calc(85% - 1.2em);
        }
        

        .homeCat div#options {
            
             bottom: 10px; 
        }
        .hablanos a:before{
             background-image: url("images/icons/hablenos.svg");
               width: 18px;
        }

        #blog-archive li {
            border-bottom: 1px solid #f0f0f0;
            margin-bottom: 40px;
        }

        .blog_info .Aut_info {
            width: calc(100% - 52px);
            padding-left: 10px;
        }

        .blog_info p.author_name {
            padding-top: 0;
        }

        #blog-archive li {
             padding-right: 15px;
            padding-left: 15px;
        }

        .menuBlog {
            width: 100%;
            text-align: center;
        }
        #blog-archive li{
          margin-top: 20px;
        }

        .blog-a > div {
            
        }

        .blog_info .resumen p{
            font-size: 2.6vw;

        }
        .blog-post-th > img{
            width: 100%;
        }

        .blog_info {
             padding: 10px 0px 0px 10px;
        }

        .blog-a > div, .blog-a h3{
            font-size: 12px;
        }

        .contenidoPromo {
            padding: 8px 8px 0px 31px;
        }

        a.sec {
            width: 100%;
            padding: 20px;
        }
        a.sec img{
            width: 100%;
        }

        .busqueda {
            margin-top:0;
               position: relative;
            width: 100%;
            padding: 10px;
           
            box-sizing: border-box;
            float: left;

        }

        .searchMov{
               right: 0;
                left: inherit;
        }

        span.hid {

            width: 100vw;
        }



        img.desktop.owl-lazy.imgbanner {
            display: none !important;
        }

        .dificultad.pure-u-14-24.pure-u-md-4-24 {
            box-sizing: border-box;
        }

        .social {
            text-align: center;
        }

        #recetaContent{
            padding-right: 0;
        }

        .social .sh{
             padding-left: 0;
        }

        .back-saboT{
             height: 45vw;
        }

        .dificultad{
            padding-left: 5%;
        }
        .Sabo-principal {
            bottom: 0px;
            top: inherit;
            width: 51%;
            position: absolute;
            bottom: 0;
        }

        div#prodInfo {
            padding: 0;
        }

        a.registro {
            /*width: 100%;*/
            bottom: 0;
            /*float: left;*/
        }

        .tiempo > img {
            float: left;
            padding-left: 10px;
            padding-top: 3px;
        }

        .back-sabo .titu > img {
            padding: 15px 21px;
        }

        .tiempo h2 {
            float: left;
            margin-left:0;
        }
        #banner img.ornament ,.banner img.ornament{
            position: absolute;
            top: 15px;
            left: 25px;
            width: 40%;
        }

        div#banner .termName , .banner .termName {
            position: absolute;
            bottom: 75px;
            left: 45px;
            color: #fff200;
            font-size: 20px;
        }
        span.porciones {
            bottom: 24px;
            left: 42px;
        }

        div#banner .tituloRes ,.banner .tituloRes {
            position: absolute;
            bottom: 52px;
            left: 45px;
            font-size: 17px;
        }

        img.sabo_titulo{
            width: 33%;
        }


        div#receta_athor_prin > div > a >img {
            width: 100%;
        }
        .back-saboT.pure-u-1-1.pure-u-md-1-2 {
            margin: 0 20px;
        }

        #receta_athor_prin .info {
            padding: 0 20px;
            box-sizing: border-box;
        }

        .pq{
            
           
        }

      

        .pure-u-1-1.pure-u-md-1-2.info-der {
            padding-top: 30px;
          

        }

        .pure-u-1-1.desc , .pure-u-1-1.pure-u-md-1-2.info-der {
              padding-left: 20px;
              padding-right: 20px;   
              box-sizing: border-box; 
        }

        .pure-u-1-1.desc{
                padding-bottom: 60px;
        }

        #footer{
            font-size: 3vw;
        }

        span.dialogo {
            width: 100%;
            position: absolute;
            bottom: 0;
            right: 0px;
            height: 100%;
        }

        
        .dialogo .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front{
            height: 100vh !important;
            left: 0 !important;
            padding: 0;
        }

        li.menu-item.menu_historias_caseras a:before{
            background-image: url("images/icons/Menu-histCas-ccc.svg");
        }

        li.menu-item.menu_los_saboreadores a:before{
              background-image: url("images/icons/menu-sabo-ccc.svg");
        }

        li.menu-item.menu_recetas a:before{
              background-image: url("images/icons/menu-recetas-ccc.svg");
        }

        li.menu-item.menu_promociones a:before{
              background-image: url("images/icons/menu-promos-ccc.svg");
        }

        li.menu-item.menu_productos a:before{
              background-image: url("images/icons/menu_productos-ccc.svg");
        }

        li.menu-item.menu_blog a:before{
              background-image: url("images/icons/menu-blog-ccc.svg");
        }

        /* active menu mobile */


        li.menu-item.menu_historias_caseras.current-menu-item a:before{
            background-image: url("images/icons/Menu-histCas.svg");
        }

        li.menu-item.menu_los_saboreadores.current-menu-item a:before{
              background-image: url("images/icons/menu-sabo.svg");
        }

        li.menu-item.menu_recetas.current-menu-item a:before{
              background-image: url("images/icons/menu-recetas.svg");
        }

        li.menu-item.menu_promociones.current-menu-item a:before{
              background-image: url("images/icons/menu-promos.svg");
        }

        li.menu-item.menu_productos.current-menu-item a:before{
              background-image: url("images/icons/menu_productos.svg");
        }

        li.menu-item.menu_blog.current-menu-item a:before{
              background-image: url("images/icons/menu-blog.svg");
        }
      
       #primary-menu {
        font-size: 16px;
       }

        #primary-menu li > a {
            width: 90%;
            margin: 0 auto;
            display: block;
           /* height: 5vh; */
         
        }
            #primary-menu li:not(.login) > a {
               padding-top: 1vh;
           }

          #primary-menu li:not(.login) > a {
            text-align: left;
          }
        #Container .mix {
            width:94%;
            padding:3%;
        }

        .imagenTemp{
            width: 100%;
        }

        .menu-sec{
            display: none;
        }
        #main .registrate{
            width:100%;
        }

        .first-visible > .marco{
            height:85vw;
            overflow: hidden;

         }

         #recetasGrid a:not(.first-visible) .marco {
            float: left;
            width: 39%;
            margin-right: 4%;
        }


        #menu-top{
            background: #ffffff;
        }

        .responsive-nav-icon, .responsive-nav-close , .searchMov {
                display: block;
                position: absolute;
                z-index: 1;
            }
        



        .current-menu-item{
            margin-left: 0;
        }

        li.menu-item {
        padding: 0;
        }


    #primary-menu li {
        float: left;
        width: 100%;
        border-bottom: 2px solid white;
      
    }


    .header-main.wrap {
        text-align: center;
    }
    nav {
        background: white;
    }

    nav {
        height: 100%;
       
        width: 100vw;
        position: fixed;
        top: 0;
        left: -100vw;
        -moz-transition: all 0.2s linear 0s;
        -webkit-transition: all 0.2s linear 0s;
        -ms-transition: all 0.2s linear 0s;
        transition: all 0.2s linear 0s;
        
    }

    
    nav.slide-in {
        left: 0;
        overflow-y: scroll;
        z-index: 100;
    }
    
    nav .menu-item {
        display: block;
    }
}
/* end max 800 */



/*Media Queries*/

@media only screen and (min-width: 360px){
    .video_header h1 {
        top: 300px;
    }
}

@media only screen and (max-width: 360px){
.busqueda  input[type="text"] {
    width: calc(100% - 36%);
 }
 .logo {    
    width: 100%;
 }
 a.registro {
    width: 188px;
    height: 18px;
    bottom:20px
 }
 #options h3.tit {
    left: 0!important;
    margin: 0 auto;
    width: 100%;
    bottom: 0 !important;
}

    .homeCat div#options {
        bottom: 10px !important;
    }
   a.vp-a.play::after{
       font-size: small;
       margin-top: 3px;
   }

}

@media only screen and (min-width: 425px){
    .video_header h1 {
        top: 340px;
    }
}

@media only screen and (min-width: 480px){

.homeCat div#options {
    bottom: 20%;
}

#options h3.tit {
    bottom: -38%;
    
}


}

@media only screen and (min-width: 500px){
    div#suscribete {
    background: url('/wp-content/uploads/2016/06/Bg_txt_Banner_ComunidadDesktop.png') top center no-repeat;
    height: 300px;

}

@media only screen and (min-width: 768px) {
   /*recetas dropdowns*/
   .wrapper-dropdown:after {
        height: 39px;
   }

    .video_header h1 {
        top: 600px;
        padding-left: 14%;
    }

    .back-sabo:first-child {
        margin-bottom: 0%;
        padding: 0% 1% 0% 0%;
        width: 49% !important;
        height: auto !important;
    }

    .back-sabo{
        margin-bottom: 0%;
        padding: 0% 0% 0% 1%;
        width: 49% !important;
        height: auto !important;
    }
     .homeCat div#options {
         bottom: 20% !important;
    }
    #options h3.tit {
        bottom: -50%!important; 
    }

    #Container {
      display: inline-block;
      width: 100%;
      /*top: -129px;*/
      position: relative;
    }
}

}

@media only screen and (min-width: 800px) {

.page-registrate{
padding: 0% 30% 0% 30%;
}

.page-iniciar-sesion{
padding: 0% 30% 0% 30%;
}

}

@media only screen and (min-width: 1024px){
/*Hamburger Menu*/
  .menuCerrado .responsive-nav-icon {
        display:none!important;
  }
/* Búsqueda */
.busqueda {
  margin-top: 6px;
}
/* Hablenos */
.menu-secundario-container{
    display: initial;
 }

/* Saboreadores */
a.play {
    left: 74%;
    top: 130px;
}

   .video_header h1 {
       top: 250px;
       padding-left: 21%;
    }

   .video_container {
       padding: 0% 10% 0% 10%;
   }

   .tabs_search {
       display: inline-block;
       width: 59%;
       padding: 0 2% 0 8%;
   }

   .search_videos {
       display: inline-block;
       width: 30%;
   }

   .tabs_search .comerciales_link {
       display: inline-block;
       margin-right: 30px;
   }

   .tabs_search .recetas_link {
       display: inline-block;
       margin-right: 30px;
   }

   .tabs_search .promociones_link {
       display: inline-block;
   }

   .tabs_search .tab a {
       margin-right: 0px;
       left: 0px;
   }

   .video_main {
      margin-bottom: 3% !important;
      text-align: center;
   }

   .video_main iframe {
      width: 70%;
      height: 385px;
   }

   .social_videos{
      margin-bottom: 5% !important;
   }

   .videos_container div {
      margin-bottom: 2%;
      width: 19%;
   }

   .videos_container {
       text-align: inherit;
       letter-spacing: 6px;
   }

   .videos_container .pagination {
       text-align: center;
       width: 100%;
       margin-top: 5%;
   }
   /*Social Networks*/
   .social_videos h3 {
      display: inline-block;
      margin-right:20px;
   }
   
   .video_container .social_videos .fb {
      vertical-align: middle;
   }
   .video_container .social_videos .tw {
      vertical-align: middle;
   }
   .video_container .social_videos .pin {
      vertical-align: middle;
   }

}
@media only screen and (min-width: 1170px){
/*Navigation*/
   .logo img {
        width: 167px;
   }
   .busqueda {
        width: calc(100% - 50%);
   }
/*Social Networks*/
    .whats {
        display: none;
    }

}
@media only screen and (min-width: 1200px){
/*Hablenos*/
.menu-secundario-container{
        display: inline-block;
    }

/*search*/
.busqueda {
        margin-top:45px;
   }

/* saboreadores */
   a.play {
    left: 74%;
    top: 135px;
  }
   
}

@media only screen and (min-width: 1440px){
     .videos_container {
       letter-spacing: 10px;
     }
}

@media only screen and (min-width: 2560px){
     .videos_container {
       letter-spacing: 21px;
     }
}


@media only screen and (min-width: 800px) and (max-width: 935px){
  .current-menu-item {
        margin-left: 4.5vw;
    }

    li.menu-item{
        padding: 0;

    }
}

@media only screen and (min-width: 800px) and (max-width: 900px){
     li.menu-item a {
        font-size:1.8vw;
     }   
}


@media only screen and (min-width: 800px)  and (max-width: 1200px) {

    .mid-hide{
        display: none !important;
    }
    .mid-show{
        display: initial !important;;
    }
    


    /*#primary-navigation{
        width: 100%;
    }

    .menu-secundario-container {
        float: right;
    }*/

    .ProductoGroup span > .inner > p{
        left:111px;
    }
}



